/* 全局修改：定义vant变量 */
:root{
	/* --van-tabbar-background-color : rgba(255, 0,0,.5); */
	/* --van-button-default-background-color : red; */

	--van-tabs-bottom-bar-color : #CC3A8C;

	--van-nav-bar-background-color : #24272F;
	--van-nav-bar-arrow-size : 18px;
	--van-nav-bar-text-color : #fff;
	--van-nav-bar-icon-color : #fff;
	--van-nav-bar-title-text-color : #fff;
	--van-badge-border-width : 0px;
	--van-badge-background-color :#F8239B;
}